@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  color: none;
}

/* selected link */
a:active {
  color: black;
}

/* Navbar */
div.nav-container {
  position: fixed;
  top: 0;
  width: 100vw;
  background: white;
  z-index: 1000;
}

.navbar-light .navbar-nav .nav-link {
  color: black !important;
}

div.nav-container li {
  text-decoration: none;
  color: white;
  list-style: none;
}

.navbar-light .navbar-toggler {
  border-color: color #fff;
}

.white {
  color: white;
}

/*
Header Section
*/
div.button-title {
  background-color: white;
  color: #000;
  width: 186px;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5%;
  padding: 22px;
  margin-top: 20px;
  transition: 0.5s;
  font-weight: bold;
  letter-spacing: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none !important;
}

div.button-title:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

.large-header {
  position: relative;
  width: 100vw;
  height: 72vh !important;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  z-index: 1;
}

canvas {
  width: 100vw;
  height: 100vh;
}

h1 {
  line-height: 0.75;
}

h3.strapline-large {
  font-size: 32px;
  text-align: center;
  font-weight: 600;
}

span.smaller-title {
  font-size: 0.5em;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.demo .large-header {
  background-image: url("../img/demo-bg.jpg");
}

.medium-header {
  height: 320px;
  background-image: url("../img/demo-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 55%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -55%, 0);
  transform: translate3d(-50%, -55%, 0);
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

span.telephone-header {
  font-size: 46px;
}

/* Services Section */
div.container-services {
  margin-top: 30px;
  height: auto;
  margin-bottom: 50px;
}

i.fa {
  font-size: 100px;
}

ul {
  list-style: none;
}

ul li:before {
  content: '✓';
}

.card {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  width: 270px;
  height: 252px;
  border: 1px solid #fff;
  perspective: 1000px;
  margin-right: 15px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  padding: 20px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.card-front {
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  text-align: left;
  font-size: 14px;
}

.card-back ul {
  padding: 0;
  list-style-type: none;
}

div.card-front h3 {
  font-size: 22px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

/* Medium Header */
.strapline-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-attachment: fixed;
  padding: 60px;
}

/* About */
section.about {
  height: auto;
  background-color: white;
  padding: 60px;
}

section.about img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

h3.about-strapline {
  letter-spacing: 9px;
  text-transform: uppercase;
}

div.flex-image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

div.flex-image-container img {
  padding-right: 15px;
  height: 252px;
}

/* Contact */
section.contact {}

.end-header {
  height: auto;
  background-image: url("../img/demo-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.end-header h3 {
  padding-top: 30px;
}

.btn {
  width: 100%;
  background-color: #fff;
  color: #000;
}

h3.location-text {
  font-size: 32px;
  text-transform: uppercase;
}

.end-header {
  background-image: url("../img/demo-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.end-header h3 {
  padding-top: 60px;
}

.btn {
  margin-bottom: 60px;
  width: 100%;
  background-color: #fff;
  color: #000;
}

h3.location-text {
  font-size: 32px;
  text-transform: uppercase;
}

div.contact-details {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

p.google-maps-embed {
  margin-bottom: -4px;
  <<<<<<< HEAD
}

div.strapline-nopad {
  padding: 0px !important;
}

p.google-maps-embed iframe {
  width: 100vw !important;

  <<<<<<< HEAD #myVideo {
    margin-bottom: -6px;
    height: 320px;
    min-width: 100%;
    min-height: 320px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    >>>>>>>1f877815b3c60569dcd0de8a6a9282d5588f6df4
  }

  div.strapline iframe {
    width: 100%;
  }

  <<<<<<< HEAD h3.strapline-down {
    margin-top: 60px !important;
  }

  margin-top: 15px;
  width: 56%;
  display: block;
  margin: 0 auto;
}

form {
  width: 50%;
  margin: 0 auto;
}

/* Footer */
div.footer-title {
  padding: 20px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 0px !important;
}

div.footer-title address {
  font-size: 12px;
  margin-bottom: 0px;
}

div.footer-title p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.black {
  font-size: 60px;
}

div.social-media {
  padding: 40px;
  margin: 5px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 20px;
}

div.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer p {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 12px;
}

.footer address {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 12px;
}

.copyright {
  text-align: center !important;
}

@media only screen and (max-width: 1200px) {
  .card-inner {
    width: 80%;
  }
}

@media only screen and (max-width: 991px) {
  .strapline-container {
    height: 60%;
    padding: 40px;
  }

  .medium-header {
    height: auto !important;
  }

  .card-inner {
    width: 100%;
  }

  .card {
    margin: 16px auto;
  }

  section.about img {
    margin: 16px auto;
  }

  footer {
    background: white;
  }

  div.footer-content {
    text-align: center;
    padding: 20px;
    display: block;
  }

  div.social-media {
    margin-top: 0px;
    padding: 15px;
    text-align: center;
  }

  div.social-media i {
    font-size: 14px;
    display: block;
    margin-right: 15px;
  }

  p.footer-top {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 768px) {
  canvas {
    display: none;
  }

  .demo .main-title {
    font-size: 2em;
  }

  h3.about-strapline {
    margin-bottom: 20px !important;
  }

  .card-inner {
    width: 100%;
  }

  .card {
    margin: 12px auto;
  }

  h3.strapline-large {
    font-size: 16px;
  }

  section.about {
    padding: 20px;
    text-align: center;
  }

  .strapline-container {
    padding: 40px;
  }

  p.google-maps-embed {
    width: 100%;
  }

  h3.about-strapline {
    margin-bottom: 0px !important;
  }

  span.telephone-header {
    font-size: 16px;
  }

  section.about img {
    display: none;
  }

  form {
    width: 80%;
  }

  div.social-media {
    margin-top: 0px;
  }

  div.social-media i {
    font-size: 12px;
  }

  p.footer-top {
    margin-top: 0px;
  }
}