@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  scroll-behavior: smooth;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Navbar */
div.nav-container {
  position: fixed;
  top: 0;
  width: 100vw;
  background: white;
}

.navbar-light .navbar-nav .nav-link {
  color: black !important;
}

div.nav-container li {
  text-decoration: none;
  color: white;
  list-style: none;
}

.navbar-light .navbar-toggler {
  border-color: color #fff;
}

.white {
  color: white;
}

/*
Header Section
*/
.large-header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

canvas {
  width: 100vw;
  height: 100vh;
}

h1 {
  line-height: 0.75;
}

h3.strapline-large {
  font-size: 32px;
  text-align: center;
  font-weight: 600;
}

span.smaller-title {
  font-size: 0.5em;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.demo .large-header {
  background-image: url("../img/demo-bg.jpg");
}

.medium-header {
  height: 320px;
  background-image: url("../img/demo-bg.jpg");
  background-attachment: fixed;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

/* Services Section */
div.container-services {
  margin-top: 30px;
  height: auto;
  margin-bottom: 50px;
}

i.fa {
  font-size: 100px;
}

ul {
  list-style: none;
}

ul li:before {
  content: '✓';
}

.card {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  width: 270px;
  height: 252px;
  border: 1px solid #fff;
  perspective: 1000px;
  margin-right: 15px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  padding: 20px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.card-front {
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  text-align: left;
  font-size: 14px;
}

.card-back ul {
  padding: 0;
  list-style-type: none;
}

div.card-front h3 {
  font-size: 22px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

/* Medium Header */
.strapline-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-attachment: fixed;
  padding: 60px;
}

/* About */
section.about {
  height: auto;
  background-color: white;
  padding: 60px;
}

section.about img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

/* Contact */
section.contact {}

div.contact-details {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#myVideo {
  margin-bottom: -6px;
  height: 420px;
  min-width: 100%;
  min-height: 320px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

div.strapline iframe {
  width: 100%;
}

/* Footer */
div.footer-title {
  padding: 20px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 0px !important;
}

div.footer-title address {
  font-size: 12px;
}

div.footer-title p {
  font-size: 12px;
}

@media only screen and (max-width: 1200px) {
  .card-inner {
    width: 80%;
  }
}

@media only screen and (max-width: 991px) {
  .card-inner {
    width: 100%;
  }

  .card {
    margin: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .demo .main-title {
    font-size: 2em;
  }

  .card-inner {
    width: 100%;
  }

  .card {
    margin: 12px auto;
  }

  #myVideo {
    height: 320px;
  }

  h3.strapline-large {
    font-size: 16px;
  }

  section.about {
    padding: 20px;
    text-align: center;
  }

  .strapline-container {
    padding: 20px;
  }

  p.google-maps-embed {
    width: 100%;
  }
}